@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(45deg, #faf4e6, #faf4e6);
    padding: 15px;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

header {
    text-align: center;
    padding: 2rem;
}

h1 {
    color: #373737;
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: "Jost", sans-serif;
}


a{
    color: #FF651C;
}

p,
span {
    color: #faf4e6;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

/* Main CSS */
.grid-wrapper {
    padding: 1rem 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .grid-wrapper > div:nth-child(even) {
    opacity: 0 !important;
} */

.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper .wide {
    grid-column: span 2;
}
.grid-wrapper .tall {
    grid-row: span 2;
}
.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}

footer {
    text-align: center;
    padding: 2rem;
    color: aliceblue;
}

@media screen and (max-width: 768px) {
    .grid-wrapper > div {
        grid-column: span 2;
        grid-row: span 2;
    }
}
